/********** Base styles **********/
* {
    box-sizing: border-box;
    text-align: center;
    font-style: italic;
    font-family: Helvetica;
}

h1 {
    margin-bottom: 15px;
    text-align: center;
}

section {
    position: relative;
    width: 100%;
    padding: 10px;
}

div {
    position: relative;
    width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
    background-color: rgb(185, 183, 183);
    border: 2px solid;
}
h2 {
    float: right;
		width: 120px;
		padding: 5px;
		margin: -2px;
		border: 2px solid black;
		text-align: center;
}
p {
    width:auto;
    overflow: hidden;
    padding: 20px 10px 20px 10px;
    clear:right;
}

.chicken{
    background-color: #c0c00c;
  }

.beef {
    background-color: #27c618;
  }

.sushi {
    background-color: #0e6767;
    color: white;
  }
  

/********** Desktop **********/
@media (min-width: 992px){
    .column-lg-4 {
        float: left;
        width: 33.33%;
    }
}

/********** Tablet **********/
@media (min-width: 768px) and (max-width: 991px){
    .colmn-md-6 {
        float: left;
        width: 50%;
     
    }
    .colmn-md-12 {
        float: left;
        width: 100%;
        
    }
}
   
/********** Mobile **********/
@media (max-width: 767px) {
    .col-sm-12 {
        float: left;
        width: 100%;
    }
}
